version: "3.9"

services:
  neo4j:
    image: neo4j:5
    container_name: neo4j-local
    ports:
      - "7474:7474"   # HTTP (Neo4j Browser)
      - "7687:7687"   # Bolt protocol
    environment:
      NEO4J_AUTH: "neo4j/qwerty"
      NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
      NEO4J_dbms_memory_pagecache_size: "512M"
      NEO4J_dbms_memory_heap_max__size: "1G"
      NEO4J_dbms_security_auth__minimum__password__length: 4
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
      - neo4j_import:/var/lib/neo4j/import
      - neo4j_plugins:/plugins

volumes:
  neo4j_data:
  neo4j_logs:
  neo4j_import:
  neo4j_plugins:
